<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>last name </th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">2</td>
        <td th:text="${author.first_name}"> eric</td>
        <td th:text="${author.last_name}">evans</td>
    </tr>
</table>

</body>
</html>